ul {
  margin: 0;
  padding: 0;
}
  
li {
  list-style: none;
  padding: 0;
}
  
a {
  text-decoration: none;
}
  
* {
  max-width: 100%;
}
  
body {
  max-width: 100%;
  margin: 0;
  background-color: #fff;
  padding: 0;
  overflow-x: hidden;
  -ms-overflow-style: none;
}
  
body::-webkit-scrollbar {
  display: none;
}
  
html {
  max-width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #fff;
}

.mainmobile {
  display: flex;
  flex-direction: column;
}

.headerMobile {
  flex: 1;
  display: flex;
  background-color: #f8f8f8;
}

.hamburger-div {
  flex: 1;
  display: flex;
  padding-left: 4%;
}

.fa-bars {
  flex: 1;
  margin-top: 19px;
  color: #7d7d7d;
  min-width: 50px;
}

.icondivmob {
  display: none;
}

.logodiv {
  display: none;
}

.section1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-left: 4%;
  padding-right: 4%;
  background-color: #f8f8f8;
}

.hello {
  flex: 1;
  color: #f29279;
  margin-top: 10%;
  margin-bottom: 0;
  font-size: 1em;
  max-width: 80%;
}

.title {
  flex: 1;
  color: #c14241;
  max-width: 100%;
  margin-top: 2%;
  font-size: 2.1em;
  margin-bottom: 0;
}

.title-text {
  flex: 1;
  max-width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 1em;
  border: 2px solid white;
  margin-top: 6%;
  margin-bottom: 0;
}

.date {
  flex: 1;
  color: #4e4e4e;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 0;
}

.webinar {
  flex: 1;
  margin-top: 2%;
}

.section2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #282b32;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 5%;
}

.section2-title {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.step {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: #3c3f46;
  margin-top: 4%;
}

.ulstep {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-right: 2%;
}

.stepitem1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-width: 30%;
  align-items: center;
  margin-right: 2%;
}

.fa-user-plus {
  flex: 1;
  color: #fff;
  margin-left: 7%;
}

.fa-calendar-alt {
  flex: 1;
  color: #fff;
  margin-left: 7%;
}

.fa-check-circle {
  flex: 1;
  color: #fff;
  margin-left: 7%;
}

.fa-chalkboard-teacher {
  flex: 1;
  color: #fff;
  margin-left: 7%;
}

.fa-comments {
  flex: 1;
  color: #fff;
  margin-left: 7%;
}

.span1 {
 flex: 1;
 color: #ec5242;
 font-size: 1.1em;
 padding-top: 2%;
}

.stepitem2 {
  flex: 1;
  color: #fff;
}

.maindesktop {
  display: none;
}

.trial {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 7% 5% 7% 5%;
  background-color: #ec5242;
  max-width: 70%;
  margin-top: 14%;
  margin-bottom: 7%;
  color: #fff;
  font-size: 1.2em;
}

.mainpopupBloc {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.popupBloc {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.closepopupBloc {
  flex: 1;
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .icondiv {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .ul-icons {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding-left: 70%;
    background-color: blueviolet;
  }

  .ul-icon1 {
    flex: 1;
  }

  .ul-icon {
    flex: 1;
    margin-right: 1%;
  }

}